@charset "UTF-8";
.infodisplay_banner{

	background:#63065f;
}
dl{
	float: right;
	width: 550px;
	padding: 30px 100px;
	font-size: 20px;
}
dt{font-size: 24px;border-bottom: dotted 1px #666;}
dt,dd{
	height: 60px;line-height: 70px;
}


#usernameExist{
	font-size: 14px;
}

#telSpan{
	font-size: 14px;
}